extends layout

block content
  h1= title
  p Welcome to #{title}
  
  p
    if user
      a(href="/logout") Logout user: #{user.username || user.profile.displayName}
    else
      a(href="/login") Login
