extends layout

block content
  h1= title
  p Welcome to #{title}
  
  p#clock
  
  p
    if user
      a(href="/logout") Logout user: #{user.username || user.profile.displayName}
    else
      a(href="/login") Login
  
  style.
      .success { border: 1px solid green; background: lime; color: green }
      .error { border: 1px solid red; background: pink; color: red }
      
  h4 Send a message  
  #status
  form(id="myForm", action="/message", method="post")
    input(type="text", name="message")
    button(type="submit") Submit
    
  script(type='text/javascript', src='/js/index.js')
  script(type='text/javascript', src='/jsonp?callback=console.log')

  
